<div>
    <span class="badge badge-custom badge-custom-{{ numberBadges }}"
        {% if customSetBadgeColorsViaConfiguration %}{% if customBadgeBackgroundColorConfiguration or customBadgeFontColorConfiguration %}style="{% if customBadgeBackgroundColorConfiguration %}background-color: {{ customBadgeBackgroundColorConfiguration }};{% endif %}{% if customBadgeFontColorConfiguration %}color: {{ customBadgeFontColorConfiguration }};{% endif %}"{% endif %}
    {% else %}{% if customFields[customBadgeBackgroundColorValue] or customFields[customBadgeFontColorValue] %}style="{% if customFields[customBadgeBackgroundColorValue] %}background-color: {{ customFields[customBadgeBackgroundColorValue] }};{% endif %} {% if customFields[customBadgeFontColorValue] %}color: {{ customFields[customBadgeFontColorValue] }};{% endif %}"{% endif %}{% endif %}>
        {% block page_product_detail_buy_container_inner_custom_badge %}
            {{ "sschreier.badgenavigationproductdetailpage.badgeText"|trans({"%badgetext%": customFields[customBadgeTextValue]}) }}
        {% endblock %}
    </span>
</div>
