<div>
    <span class="badge badge-custom"
        {% if config('SschreierBadgeNavigationProductDetailPage.config.SetBadgeBackgroundColorViaConfiguration') %}{% if config('SschreierBadgeNavigationProductDetailPage.config.BadgeBackgroundColorConfiguration') or config('SschreierBadgeNavigationProductDetailPage.config.BadgeFontColorConfiguration') %}style="{% if config('SschreierBadgeNavigationProductDetailPage.config.BadgeBackgroundColorConfiguration') %}background-color: {{ config('SschreierBadgeNavigationProductDetailPage.config.BadgeBackgroundColorConfiguration') }};{% endif %}{% if config('SschreierBadgeNavigationProductDetailPage.config.BadgeFontColorConfiguration') %}color: {{ config('SschreierBadgeNavigationProductDetailPage.config.BadgeFontColorConfiguration') }};{% endif %}"{% endif %}
    {% else %}{% if customFields[customBadgeBackgroundColorValue] or customFields[customBadgeFontColorValue] %}style="{% if customFields[customBadgeBackgroundColorValue] %}background-color: {{ customFields[customBadgeBackgroundColorValue] }};{% endif %} {% if customFields[customBadgeFontColorValue] %}color: {{ customFields[customBadgeFontColorValue] }};{% endif %}"{% endif %}{% endif %}>
        {% block page_product_detail_buy_container_inner_custom_badge %}
            {{ "sschreier.badgenavigationproductdetailpage.badgeText"|trans({"%badgetext%": customFields[customBadgeTextValue]}) }}
        {% endblock %}
    </span>
</div>
